[INPUT_CSV]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\csv_example.csv

[CSV_COMPANY]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\csv_company.csv

[OUTPUT_CSV]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\csv_example_output.csv

[INPUT_EXCEL]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\excel_example.xlsx
sheet = sheet1

[OUTPUT_EXCEL]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\excel_example_output.xlsx
sheet = sheet1

[OUTPUT_EXCEL_COMPANY]
file = C:\Disk\CVUT-FIT\PYT\mi-pyt-sem\tests\excel_example_output_company.xlsx
sheet = sheet1

[POSTGRESQL]
dbname = postgres
host = localhost
port = 5454
user = postgres
password = pleticha